{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(136deg, rgba(224,195,252) 0%, rgba(142,197,252) 100%);
}
.wrapper{
    position: relative;
    height: 400px;
    width: 700px;
}

.wrapper .img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;    
    clip-path: circle(0% at 0% 100%); 
    transition: all 0.7s;
}

#Un:checked ~ .img-1 img{
    clip-path: circle(150% at 0% 100%);
}
#Deux:checked ~ .img-1 img,
#Deux:checked ~ .img-2 img{
    clip-path: circle(150% at 0% 100%);
}
#Trois:checked ~ .img-1 img,
#Trois:checked ~ .img-2 img,
#Trois:checked ~ .img-3 img{
    clip-path: circle(150% at 0% 100%);
}
#Quatres:checked ~ .img-1 img,
#Quatres:checked ~ .img-2 img,
#Quatres:checked ~ .img-3 img,
#Quatres:checked ~ .img-4 img{
    clip-path: circle(150% at 0% 100%);
}
#Cinq:checked ~ .img-1 img,
#Cinq:checked ~ .img-2 img,
#Cinq:checked ~ .img-3 img,
#Cinq:checked ~ .img-4 img,
#Cinq:checked ~ .img-5 img{
    clip-path: circle(150% at 0% 100%);
}
#Six:checked ~ .img-1 img,
#Six:checked ~ .img-2 img,
#Six:checked ~ .img-3 img,
#Six:checked ~ .img-4 img,
#Six:checked ~ .img-5 img,
#Six:checked ~ .img-6 img{
    clip-path: circle(150% at 0% 100%);
}
#Sept:checked ~ .img-1 img,
#Sept:checked ~ .img-2 img,
#Sept:checked ~ .img-3 img,
#Sept:checked ~ .img-4 img,
#Sept:checked ~ .img-5 img,
#Sept:checked ~ .img-6 img,
#Sept:checked ~ .img-7 img{
    clip-path: circle(150% at 0% 100%);
}
#Huits:checked ~ .img-1 img,
#Huits:checked ~ .img-2 img,
#Huits:checked ~ .img-3 img,
#Huits:checked ~ .img-4 img,
#Huits:checked ~ .img-5 img,
#Huits:checked ~ .img-6 img,
#Huits:checked ~ .img-7 img,
#Huits:checked ~ .img-8 img{
    clip-path: circle(150% at 0% 100%);
}
#Neuf:checked ~ .img-1 img,
#Neuf:checked ~ .img-2 img,
#Neuf:checked ~ .img-3 img,
#Neuf:checked ~ .img-4 img,
#Neuf:checked ~ .img-5 img,
#Neuf:checked ~ .img-6 img,
#Neuf:checked ~ .img-7 img,
#Neuf:checked ~ .img-8 img,
#Neuf:checked ~ .img-9 img{
    clip-path: circle(150% at 0% 100%);
}
#Dix:checked ~ .img-1 img,
#Dix:checked ~ .img-2 img,
#Dix:checked ~ .img-3 img,
#Dix:checked ~ .img-4 img,
#Dix:checked ~ .img-5 img,
#Dix:checked ~ .img-6 img,
#Dix:checked ~ .img-7 img,
#Dix:checked ~ .img-8 img,
#Dix:checked ~ .img-9 img,
#Dix:checked ~ .img-10 img{
    clip-path: circle(150% at 0% 100%);
}
.wrapper .sliders{
  position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
}

.wrapper .sliders label{
    height: 13px; 
    width: 13px;
    border: 2px solid rgb(157, 77, 26);
    margin: 0 3px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#Un:checked ~ .sliders label .Un,
#Deux:checked ~ .sliders label .Deux,
#Trois:checked ~ .sliders label .Trois,
#Quatres:checked ~ .sliders label .Quatres,
#Cinq:checked ~ .sliders label .Cinq,
#Six:checked ~ .sliders label .Six,
#Sept:checked ~ .sliders label .Sept,
#Huits:checked ~ .sliders label .Huits,
#Neuf:checked ~ .sliders label .Neuf,
#Dix:checked ~ .sliders label .Dix{
    width: 35px;
    border-radius: 14px;
    background: rgb(157, 77, 26);
}

.sliders label:hover{
    background: rgba(0, 0, 0, 0.69);
}

.wrapper input[type="radio"]{
    display: none;
}
@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

























